In [1]:
import pandas as pd
import os

In [2]:
pwd=os.getcwd()

In [7]:
dataset=pd.read_excel(pwd+'\Data_Edited.xlsx',sheet_name='Edited_Data')

In [13]:
dataset_modified=dataset.copy()
columns_drop=list(dataset_modified.columns[1:7])
dataset_modified=dataset_modified.drop(columns=columns_drop)

In [18]:
id_vars=list(dataset_modified.columns[:8])
value_vars=list(dataset_modified.columns[8:])

In [21]:
dataset_melted=dataset_modified.melt(id_vars=id_vars,value_vars=value_vars,var_name='QnS',value_name='Answers')

In [24]:
question_import=pd.read_excel(pwd+'\Data_Edited.xlsx','Question')

In [31]:
question_import

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

[100 rows x 0 columns]

In [30]:
questions=question_import.drop(columns=list(question_import.columns[:3]),inplace=True)
print(questions)

None