<a href="https://colab.research.google.com/github/qsanat/Employee_SurveyMonkey/blob/main/Script1%20-%20Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import os

In [20]:
# pwd = os.getcwd()

In [21]:
# dataset = pd.read_excel(pwd + "/Data - Survey Monkey Output Edited.xlsx", sheet_name="Edited_Data")
!git clone https://github.com/qsanat/Employee_SurveyMonkey
dataset= pd.read_excel('/content/Employee_SurveyMonkey/Data_Edited.xlsx',sheet_name='Edited_Data')

fatal: destination path 'Employee_SurveyMonkey' already exists and is not an empty directory.

In [22]:
dataset_modified = dataset.copy()
# dataset_modified

In [23]:
columns_to_drop = ['Start Date', 'End Date', 'Email Address', 'First Name', 'Last Name', 'Custom Data 1']
# columns_to_drop

In [24]:
dataset_modified = dataset_modified.drop(columns=columns_to_drop)
# dataset_modified

In [25]:
id_vars = list(dataset_modified.columns)[ : 8]
value_vars = list(dataset_modified.columns)[8 : ]
# value_vars

In [39]:
dataset_melted = dataset_modified.melt(id_vars=id_vars, value_vars = value_vars, var_name="QnS", value_name="Answer")
dataset_melted

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,QnS,Answer
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,Question 1 - Response,NaN
...,...,...,...,...,...,...,...,...,...,...
17023,7940065082,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8
17024,5157705612,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6
17025,9920755555,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN
17026,6638341389,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN
17027,8114622230,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN

In [40]:
# questions_import = pd.read_excel(pwd + "/Data - Survey Monkey Output Edited.xlsx", sheet_name="Question")
questions_import=pd.read_excel('/content/Employee_SurveyMonkey/Data_Edited.xlsx',sheet_name='Question')

In [53]:
questions = questions_import.copy()
questions_drop=questions.drop(columns=['Raw_Question','Raw_Subquestion','Subquestion'])

In [54]:
# questions_drop.dropna()

In [68]:
# questions_drop

In [66]:
dataset_merged = pd.merge(left= dataset_melted, right= questions_drop, how="left", left_on="QnS", right_on="QnS")
print("Original Data", len(dataset_melted))
print("Merged Data", len(dataset_merged))
# dataset_merged

Original Data 17028
Merged Data 17028

In [67]:
respondents = dataset_merged[dataset_merged["Answer"].notna()]
respondents = respondents.groupby("Question")["Respondent ID"].nunique().reset_index()
respondents.rename(columns={"Respondent ID":"Respondents"}, inplace=True)

In [ ]:
dataset_merged_two = pd.merge(left=dataset_merged, right=respondents, how="left", left_on="Question", right_on="Question")
print("Original Data", len(dataset_merged))
print("Merged Data", len(dataset_merged_two))
dataset_merged_two

In [ ]:
same_answer = dataset_merged # [dataset_merged["Answer"].notna()]
same_answer = same_answer.groupby(["Question + Subquestion", "Answer"])["Respondent ID"].nunique().reset_index()
same_answer.rename(columns={"Respondent ID":"Same Answer"}, inplace=True)
same_answer

In [ ]:
dataset_merged_three = pd.merge(left=dataset_merged_two, right=same_answer, how="left", left_on=["Question + Subquestion", "Answer"], right_on=["Question + Subquestion", "Answer"])
dataset_merged_three["Same Answer"].fillna(0, inplace=True)
print("Original Data", len(dataset_merged_two))
print("Merged Data", len(dataset_merged_three))
dataset_merged_three

In [ ]:
output = dataset_merged_three.copy()
output.rename(columns={"Identify which division you work in. - Response":"Division Primary", "Identify which division you work in. - Other (please specify)":"Division Secondary", "Which of the following best describes your position level? - Response":"Position", "Which generation are you apart of? - Response":"Generation", "Please select the gender in which you identify. - Response":"Gender", "Which duration range best aligns with your tenure at your company? - Response":"Tenure", "Which of the following best describes your employment type? - Response":"Employment Type"}, inplace=True)
output

In [ ]:
output.to_excel(pwd + "/Final_Output.xlsx", index=False)

In [ ]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},index=index)

df.groupby(level=0).mean()
# df.groupby(level="Type").mean()

In [63]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df = pd.DataFrame({'Max_Speed': [390., 350., 30., 20.]},index=index)
df=df.groupby('Animal')['Max_Speed'].nunique()
df

Animal
Falcon    2
Parrot    2
Name: Max_Speed, dtype: int64